.login
  .van-nav-bar
    height 1.33rem
    line-height 1.33rem
    font-size 0.44rem
    background-color $normal
  .van-icon
    color #fff
    font-size 0.44rem
  .van-nav-bar__title
    color #fff
    font-size 0.44rem
  .van-nav-bar__text
    color #fff
    font-size 0.44rem
  .van-cell-group
    margin 2.67rem 20px 0
    border none
    padding 0.2rem
  .van-cell
    border-bottom 1px solid #adadad
    height 1.73rem
    line-height 1.73rem
    font-size 0.4rem
    color #333
  .van-cell:not(:last-child)::after
    border none
  .van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after
    border-width 0
  .van-cell__title .van-field__label
    width 0.93rem
  .van-button--default
    background-color $normal
    color #fff
  .forgotPass
    float right
    line-height 20px
    a
      color #666
      text-decoration none
      line-height 1.33rem
  .van-button--large
    background-color $normal
    height 1.33rem
    color #fff
    margin-bottom 0.67rem