.sign
  height 100%
  .van-nav-bar
    height 1.33rem
    line-height 1.33rem
    font-size 0.44rem
    background-color $normal
  .van-icon
    color #fff
    font-size 0.44rem
  .van-nav-bar__title
    color #fff
    font-size 0.44rem
  .van-nav-bar__text
    color #fff
    font-size 0.44rem
.signMain
  .van-cell-group
    margin 2.67rem 20px 0
    border none
    padding 0.27rem 0.27rem 0.8rem
  .van-cell
    border-bottom 1px solid #adadad
    height 1.73rem
    line-height 1.73rem
    font-size 0.4rem
    color #333
    margin-bottom 0.27rem
  .van-cell:not(:last-child)::after
    border none
  .van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after
    border-width 0
  .van-cell__title .van-field__label
    width 0.93rem
  .van-button--default
    background-color $normal
    color #fff
    margin-top 0.13rem
  .van-button--large
    margin-top 30px
    background-color $normal
    height 1.33rem
    color #fff
  .van-checkbox
    margin-top 30px
  .text
    color #666